body {
    font-family: roboto, sans-serif;
    color: #434455;
    background-color: #fcfcfc;    
      }

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;      
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
      
      button{cursor: pointer;}
  /* #region крапки списків */
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
   /* #endregion */
  /* #region нижне підкреслювання */
  * {
    text-decoration: none;
  }
  /* #endregion */
  /* #region загальний скид відступів */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }


  
/* #endregion */

/* #region img в block */
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  /* #endregion */

  /* #region comon */
  
  .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 768px)
  {.container
    {max-width: 768px;
    }}

    @media screen and (min-width: 1158px)
  {.container {
    max-width: 1158px;
    padding: 0 15px;
     }}

     /* #endregion */

     /*  #region Header */
.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
      }

.header-container
      {
    display: flex;
    align-items: center;
    justify-content: space-between;
      }

.nav-list, .header-addr {display: none;}

.nav-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;  }
         
.nav-logo-half {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
          }
          

.mobile-btn {
    padding: 0;
    border: none;
    background-color: transparent;
         }

.mobile-icon {
    display: block;
    fill: #2f2f37;;
         }

@media screen and (min-width: 768px) { 
    .mobile-btn{
            display: none;
         }
    .nav-list {
            display: flex;
            align-items: center;      
            gap: 40px;}

    .header-addr {
            font-style: normal;
           display: block;}

    .nav-page {
            display: flex;
            align-items: center;}

    .nav-logo {
            margin-right: 120px;
            padding: 24px 0;}

    .nav-pages:hover, .nav-pages:focus, .nav-pages:active {
            color: #404bbf;}

    .nav-pages {
             display: block;
             font-weight: 500px;
             font-size: 16px;
             line-height: 1.5;
             letter-spacing: 0.02em;
             color: #2e2f42;
             padding: 24px 0;
             transition-property: color;
             transition-duration: 250ms;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

    .page-studio {
            position: relative;
            color: #404bbf;          }

    .page-studio::after {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 4px;
          background-color: #404bbf;
          border-radius: 2px;        }

    .contacts {
            display: flex;
            flex-direction: column;
            gap: 12px;}

    .contacts-link{
          font-size: 12px;
          line-height: 1.17;
          letter-spacing: 0.04em;
          color: #434455;
          transition-property: color;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

    .contacts-link:hover, .contacts-link:focus {
             color: #404bbf;}}

@media screen and (min-width: 1158px) {

    .nav-logo {margin-right: 76px;}

    .contacts {flex-direction: row;
        align-items: center;
        gap: 40px; }
    .contacts-link{
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;} }

        /* #endregion */

        /* #region mobile menu */
       
.mobile-menu {
    position: fixed;
top: 0;
left: 0;
z-index: 999;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;}  

  .mobile-menu.is-open{ opacity: 1;
    visibility: visible;
    pointer-events: auto;}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%
}
.mobile-menu-close {
    display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
height: 24px;
padding: 0;
border: 1px solid #E7E9FC;
border-radius: 50%;
background-color: transparent;
}
.nav-mobile {
   
   margin-bottom: auto;

}
.nav-list-mobile { display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.nav-item-mobile {
   
}
.nav-pages-mobile {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.page-studio-mobile {
    color: #404bbf;
}

.nav-pages-mobile:hover, .nav-pages-.nav-pages-mobile, .contacts-link-menu:hover, .contacts-link-menu:focus {
    color: #404bbf;}

.header-addr-menu {
    margin-bottom: 48px;
}
.contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

    

.contacts-link-menu {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts-link-mail{color: #4d5ae5;}


.social-menu {
    display: flex;
    gap: 40px;
    
}

.social-link-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;

}


@media screen and (min-width: 768px)
{.mobile-menu{display: none;}}

    /* #endregion */

/* #region Hero */

.hero {
    background-color: rgba(46, 47, 66, 0.7);
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/mobile/Dark-bg-mobile.jpg);
    max-width: 320px;
    margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-name {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 216px;
margin-left: auto;
  margin-right: auto;
margin-bottom: 72px;
}


.hero-button {
    font-weight: 500;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {.hero{ background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/mobile/Dark-bg@2x-mobile.jpg);}
    
}
@media screen and (min-width: 768px)
{.hero{padding-top: 112px;
    padding-bottom: 112px;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/tablet/Dark-bg-tablet.jpg);}
.hero-name{
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;}
}

@media screen and (min-width:768px) and (min-resolution: 192dpi) {.hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/tablet/Dark-bg-tablet@2x.jpg);}
    
}

@media screen and (min-width: 1158px)
{.hero
    {padding-top: 188px;
        padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/desktop/people-office-bg-desktop.jpg);
}
.hero-name{
           margin-bottom: 48px;}
}

@media screen and (min-width:1158px) and (min-resolution: 192dpi) {.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/desktop/people-office-bg-desktop@2x.jpg);}}


/* #endregion */

/* #region Priorities */

.priorities-container
{display: flex;
padding-top: 96px;
padding-bottom: 96px;}

.priorities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;}

.icon {display: none;}

.priorities-list-name {
margin-bottom: 8px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;}

.priorities-list-text {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width: 768px) {
  .priorities-list-item {
       flex-basis: calc((100% - 24px) / 2);
  }
  .priorities-list {row-gap: 72px;
  column-gap: 24px;}
  .priorities-list-name {
    text-align: start;
  }  
}

@media screen and (min-width: 1158px) {
  .priorities-container
  {
  padding-top: 120px;
  padding-bottom: 120px;}

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    height: 112px;
  }
  .priorities-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .priorities-list-name {
     font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }
  .priorities-list-text {
    font-weight: 400;  }
  
}
/* #endregion */

/* #region Our Team */
.team {
  background-color: #f4f4fd;}

.team-section-container {padding-top: 96px;padding-bottom: 96px;} 

.team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
 }

.team-list > li:first-child {box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    } 

.team-list-item {
  border-radius: 0 0 4px 4px;
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff; 
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.team-list-item:hover,
.team-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 16px;
  text-align: center;
  background-color: #ffffff;
  
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-container-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
 }

 .team-list-icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon-social:hover,
.team-list-icon-social:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-list {    
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
   }

  .team-list-item {
    margin: 0px;
        }
}

@media screen and (min-width: 1158px) {
  .team-section-container {padding-top: 120px;padding-bottom: 120px;} 
}

/* #endregion */